In [1]:
#Lista

In [39]:
nome = 'Thiago'
numero = 8
lista = ['thiago', 8, 5.5, False, 0]

In [3]:
lista = ['alex', 'maria', 'Paulo']

print(lista)

['alex', 'maria', 'Paulo']

In [6]:
frutas = ['maça', 'banana', 'melão', 'limaão']

print(frutas)
print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])

['maça', 'banana', 'melão', 'limaão']
maça
banana
melão
limaão

In [40]:
# Os indices são tipos INT

frutas = ['maça', 'banana', 'melão', 'limaão']
print(frutas[1])
#print(frutas[1.0]) #erro
#print(frutas['1'])#erro

banana

In [9]:
frutas = ['maça', 'banana', 'melão', 'limaão']

i = 1
print(frutas[i])
print(frutas[2])

banana
melão

In [11]:
frutas = ['maça', 'banana', 'melão', 'limaão']
i = int(input('Informw um indice da lista:'))

print(frutas[i])
print(frutas[2])

Informw um indice da lista: 3

limaão
melão

In [12]:
### a lista é uma colecão
lista = ['u', 'n', 'i', 'p']

print (lista[2])

i

In [13]:
# uma string é uma coleção
texto = 'python'
print(texto[2])

t

In [14]:
# Formas de criar listas

lista1 = []
lista2 = [1,2,3,4,5]
lista3 = list(('ana', 'camila', 'vitor'))

print(lista1)
print(lista2)
print(lista3)

[]
[1, 2, 3, 4, 5]
['ana', 'camila', 'vitor']

In [19]:
#metodos des listas

#.append() - Adiciona um item ao final da lista

frutas = ['maça', 'banana', 'melão', 'limaão']
print(frutas)

frutas.append('Abacaxi')
print(frutas)

frutas.append('Manga')
print(frutas)

['maça', 'banana', 'melão', 'limaão']
['maça', 'banana', 'melão', 'limaão', 'Abacaxi']
['maça', 'banana', 'melão', 'limaão', 'Abacaxi', 'Manga']

In [21]:
# .insert()- adiciona um item na posição informada

nomes = ['eduarda', 'matheus', 'bruna']
nomes.insert(0, 'Thiago')

print(nomes)
print(nomes[1])

['Thiago', 'eduarda', 'matheus', 'bruna']
eduarda

In [41]:
# remove()- remove um item da lista pelo valor

nomes = ['eduarda','caio','matheus', 'bruna']

nomes.remove('matheus')
print(nomes)

['eduarda', 'caio', 'bruna']

In [23]:
# pop() -remove um item da lista peloindice

nomes = ['eduarda','caio','matheus', 'bruna']

nomes.pop(1)
print(nomes)

['eduarda', 'matheus', 'bruna']

In [25]:
# lista[] -substitui um valor da lista

nomes = ['eduarda','caio','matheus', 'bruna']

nomes[1] = 'Gabriel'
print(nomes)

['eduarda', 'Gabriel', 'matheus', 'bruna']

In [26]:
# index() - Consulta o indice do valor informado

nomes = ['eduarda','caio','matheus', 'bruna']

print(nomes.index('eduarda'))
print(nomes.index('caio'))

0
1

In [27]:
#count() - Retorna o numero de vezes que o valor informado foi encontrado

lista = [5,6,7,6,7,7,7,8,8,8]

print(lista.count(5))
print(lista.count(6))
print(lista.count(7))
print(lista.count(8))

1
2
4
3

In [29]:
#sort () -ordena os itens da lista

letras = ['e', 'c', 'a', 'd', 'b']
numeros = [3, 4, 2, 0, 1]

letras.sort()
numeros.sort()

print(letras)
print(numeros)

['a', 'b', 'c', 'd', 'e']
[0, 1, 2, 3, 4]

In [30]:
#reverse - inverte os valores da lista

letras = ['e', 'c', 'a', 'd', 'b']
numeros = [3, 4, 2, 0, 1]

letras.reverse()
numeros.reverse()

print(letras)
print(numeros)

['b', 'd', 'a', 'c', 'e']
[1, 0, 2, 4, 3]

In [42]:
#len() - Retorna quantidade de itens

lista = [6,5,4,3,2]

print(len(lista))

5

In [32]:
#sum () -Retorna a soma dos valores da lista

lista = [6, 5, 4, 3, 2]

print(sum(lista))

20

In [33]:
#max () -Retorna o maior dos valores da lista

lista = [6, 5, 4, 3, 2]

print(max(lista))

6

In [34]:
#min () -Retorna o menor dos valores da lista

lista = [6, 5, 4, 3, 2]

print(min(lista))

2

In [37]:
#Operador +:Junta as listas

lista1 = [1,2,3]
lista2 = [4,5,6]
lista3 = lista1 + lista2
lista4 = lista2 + lista1
print(lista3)
print(lista4)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]

In [38]:
# operador *: retorna uma lista com os valores repetidos pela quantidade de vezes informada

# Lista original
frutas = ["maçã", "banana"]

# Usando o operador * para repetir a lista 3 vezes
lista_repetida = frutas * 3

# Exibindo o resultado
print(lista_repetida)

['maçã', 'banana', 'maçã', 'banana', 'maçã', 'banana']