In [4]:
#Interpolação

a = 3
b = 5

print(" O valor da variavel a é a e o valor da variavel b é b")
print(f"O valor da variavel a é {a} e o valor da variavel b é {b}")

 O valor da variavel a é a e o valor da variavel b é b
O valor da variavel a é 3 e o valor da variavel b é 5

In [12]:
### Regras para interpolação
#1. Iniciar o texto com a letra 'f'
#2. Delimitar as variaveis entre chaves {}

nome = 'Thiago'

print(f"Meu nome é {nome}) #Certo
# print("Meu nome é {nome}") #Errado
# print(f"Meu nome é nome") # Errado

SyntaxError: unterminated string literal (detected at line 7) (2268195324.py, line 7)

In [14]:
#

a = 2
b = 3

print(f' a + b = {a+b}')

#Equivalente
print(a+b)

 a + b = 5
5

In [16]:
#numeros de ponto flutuante (numeros decimais)

print(2.99)
print(10.50)
print(1.90)

2.99
10.5
1.9

In [18]:
#Divisão com dizima

print(10/3)

3.3333333333333335

In [28]:
# round() - Usada para arredondar valores

valor = 1.23456

print(valor)
print(round(valor, 1))
print(round(valor, 2))
print(round(valor, 3)) #tem arredondamento
print(round(valor, 4)) #tem arredondamento

1.23456
1.2
1.23
1.235
1.2346

In [32]:
#round

print(round(1.234567, 2))

1.23

In [36]:
#Interpolação com funções

preco = 1.54444

print(f'o preço do produto é {preco}')
print(f'o preço do produto é {round(preco, 2)}')

o preço do produto é 1.54444
o preço do produto é 1.54

In [3]:
# arredondar valores com f-string
#:.nf
#n - numero de casa deceimais / f-float


preco=1.54444
print(f'o preço do produto é {preco}')
print(f'o preço do produto é {preco:.1f}')
print(f'o preço do produto é {preco:.2f}')
print(f'o preço do produto é {preco:.3f}')

o preço do produto é 1.54444
o preço do produto é 1.5
o preço do produto é 1.54
o preço do produto é 1.544

In [8]:
#interpolação com f-string

curso = 'python'
escola = 'unip'

print(f'eu estou estudando {curso}')
print(f'eu estou estudando {curso} na {escola}')

print('eu estou estudando {}'.format(curso)) #modo antigo
print('eu estou estudando {} na {}'.format(curso, escola)) #modo antigo

eu estou estudando python
eu estou estudando python na unip
eu estou estudando python
eu estou estudando python na unip

In [12]:
# quebra de linha - \n

print('nome: guilherme curso: pyhton')
print('nome: guilherme \n curso: pyhton')

print(""" meu nome é: guilherme
curso: pyhton
faculdade: unip
""")

nome: guilherme curso: pyhton
nome: guilherme
 curso: pyhton
 meu nome é: guilherme
curso: pyhton
faculdade: unip

In [13]:
# quebra de linha - 3 aspas simples ou duplas

print(""" meu nome é: guilherme
curso: pyhton
faculdade: unip
""")

 meu nome é: guilherme
curso: pyhton
faculdade: unip

In [14]:
# interpolação com quebra de linha

nome='guilherme'
idade=20
curso='python'

print(f''' nome = {nome}
idade = {idade}
curso = {curso}''')

 nome = guilherme
idade = 20
curso = python